<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DevOps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <applicationSettings>
        <DevOps.Properties.Settings>
            <setting name="DeployConfigFileName" serializeAs="String">
                <value>DeployConfig_Harvey.json</value>
            </setting>
            <setting name="CustomDeployConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="WinMergeDirectory" serializeAs="String">
                <value>C:\Program Files (x86)\WinMerge</value>
            </setting>
            <setting name="GitDiffReportWorkingPath" serializeAs="String">
                <value>C:\Users\itdhvh\Desktop\Work\GenXlsWorkplace\DiffReport\diff.html</value>
            </setting>
            <setting name="ImplFormFileName" serializeAs="String">
                <value>ImplementationFormTemplate.docx</value>
            </setting>
        </DevOps.Properties.Settings>
    </applicationSettings>

</configuration>